/* [project]/app/payment-processing.css [app-client] (css) */
.payment-processing-container {
  background-color: hsl(var(--card));
  border-radius: 6px;
  width: 460px;
  height: 120px;
  transition: all .3s ease-in-out;
  display: flex;
  position: relative;
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

.payment-processing-container:hover {
  width: 220px;
  transform: scale(1.03);
}

.payment-processing-container:hover .left-side {
  width: 100%;
}

.payment-processing-container .left-side {
  cursor: pointer;
  background-color: #5de2a3;
  border-radius: 4px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 120px;
  transition: all .3s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.payment-processing-container .right-side {
  cursor: pointer;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 130px);
  transition: all .3s;
  display: flex;
  overflow: hidden;
}

.payment-processing-container .right-side:hover {
  background-color: hsl(var(--muted));
}

.payment-processing-container .arrow {
  width: 20px;
  height: 20px;
  fill: hsl(var(--muted-foreground));
  margin-right: 20px;
}

.payment-processing-container .new {
  color: hsl(var(--foreground));
  margin-left: 20px;
  font-family: Lexend Deca, sans-serif;
  font-size: 23px;
}

.payment-processing-container .card {
  z-index: 10;
  background-color: #c7ffbc;
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: 46px;
  display: flex;
  position: absolute;
  box-shadow: 9px 9px 9px -2px #4dc88fb8;
}

.payment-processing-container .card-line {
  background-color: #80ea69;
  border-radius: 2px;
  width: 65px;
  height: 13px;
  margin-top: 7px;
}

.payment-processing-container .buttons {
  background-color: #379e1f;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 10px 0 0 -30px;
  transform: rotate(90deg);
  box-shadow: 0 -10px #26850e, 0 10px #56be3e;
}

.payment-processing-container.processing .card {
  animation: 1.2s cubic-bezier(.645, .045, .355, 1) both slide-top;
}

.payment-processing-container.processing .post {
  animation: 1s cubic-bezier(.165, .84, .44, 1) both slide-post;
}

.payment-processing-container.processing .dollar {
  animation: .3s 1s backwards fade-in-fwd;
}

.payment-processing-container .post {
  z-index: 11;
  background-color: #dddde0;
  border-radius: 6px;
  width: 63px;
  height: 75px;
  position: absolute;
  top: 120px;
  bottom: 10px;
  overflow: hidden;
}

.payment-processing-container .post-line {
  background-color: #545354;
  border-radius: 0 0 3px 3px;
  width: 47px;
  height: 9px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.payment-processing-container .post-line:before {
  content: "";
  background-color: #757375;
  width: 47px;
  height: 9px;
  position: absolute;
  top: -8px;
}

.payment-processing-container .screen {
  background-color: #fff;
  border-radius: 3px;
  width: 47px;
  height: 23px;
  position: absolute;
  top: 22px;
  right: 8px;
}

.payment-processing-container .numbers {
  background-color: #838183;
  border-radius: 2px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 52px;
  left: 25px;
  transform: rotate(90deg);
  box-shadow: 0 -18px #838183, 0 18px #838183;
}

.payment-processing-container .numbers-line2 {
  background-color: #aaa9ab;
  border-radius: 2px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 68px;
  left: 25px;
  transform: rotate(90deg);
  box-shadow: 0 -18px #aaa9ab, 0 18px #aaa9ab;
}

.payment-processing-container .dollar {
  color: #4b953b;
  text-align: center;
  width: 100%;
  font-family: Lexend Deca, sans-serif;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-70px)rotate(90deg);
  }

  60% {
    transform: translateY(-70px)rotate(90deg);
  }

  100% {
    transform: translateY(-8px)rotate(90deg);
  }
}

@keyframes slide-post {
  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-70px);
  }
}

@keyframes fade-in-fwd {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (width <= 480px) {
  .payment-processing-container {
    transform: scale(.7);
  }

  .payment-processing-container:hover {
    transform: scale(.74);
  }

  .payment-processing-container .new {
    font-size: 18px;
  }
}

/*# sourceMappingURL=app_payment-processing_css_f9ee138c._.single.css.map*/