/* [project]/app/login-form.css [app-client] (css) */
.login-form-container {
  background-color: hsl(var(--card));
  border: 1px solid hsl(var(--border));
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  max-width: 380px;
  padding: 20px 30px;
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

#recaptcha-container {
  z-index: 100;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.login-form-container .title {
  text-align: center;
  font-family: var(--font-headline), "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: hsl(var(--card-foreground));
  margin: 10px 0 30px;
  font-size: 28px;
  font-weight: 800;
}

.login-form-container .form {
  flex-direction: column;
  gap: 18px;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
}

.login-form-container .input {
  border: 1px solid hsl(var(--border));
  box-sizing: border-box;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  border-radius: 20px;
  padding: 12px 15px;
  outline: 0 !important;
}

.login-form-container .input:focus-visible {
  border-color: hsl(var(--ring));
  box-shadow: 0 0 0 2px hsl(var(--ring) / .2);
}

.login-form-container .page-link {
  text-align: end;
  color: hsl(var(--muted-foreground));
  text-decoration: underline;
  text-decoration-color: hsl(var(--muted-foreground));
  margin: 0;
}

.login-form-container .page-link-label {
  cursor: pointer;
  font-family: var(--font-body), "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.login-form-container .page-link-label:hover {
  color: hsl(var(--primary));
}

.login-form-container .form-btn {
  font-family: var(--font-body), "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  cursor: pointer;
  border-radius: 20px;
  padding: 12px 15px;
  font-size: 1rem;
  font-weight: 600;
  transition: all .2s;
  box-shadow: 0 3px 8px #0000003d;
  border: 0 !important;
  outline: 0 !important;
}

.login-form-container .form-btn:hover {
  background: hsl(var(--primary) / .9);
}

.login-form-container .form-btn:active {
  box-shadow: none;
  transform: translateY(1px);
}

.login-form-container .sign-up-label {
  color: hsl(var(--muted-foreground));
  font-size: 12px;
  font-family: var(--font-body), "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
}

.login-form-container .sign-up-link {
  text-decoration: underline;
  text-decoration-color: hsl(var(--primary));
  color: hsl(var(--primary));
  cursor: pointer;
  margin-left: 2px;
  font-size: 13px;
  font-weight: 800;
}

.login-form-container .buttons-container {
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.login-form-container .social-login-button {
  box-sizing: border-box;
  cursor: pointer;
  font-family: var(--font-body), "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: hsl(var(--card));
  color: hsl(var(--foreground));
  border: 1px solid hsl(var(--border));
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  font-size: 14px;
  transition: all .2s;
  display: flex;
  box-shadow: 0 10px 36px #00000029, 0 0 0 1px #0000000f;
}

.login-form-container .social-login-button:hover {
  background-color: hsl(var(--muted));
}

.login-form-container .social-icon {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=app_login-form_css_f9ee138c._.single.css.map*/