
/* Adapted from Uiverse.io by akshat-patel28 for this project */
.success-alert {
  width: 330px;
  height: 80px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: hsl(var(--card));
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}
.success-alert .wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: hsl(var(--primary) / 0.1);
}
.success-alert .icon-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--primary) / 0.2);
  border-radius: 50%;
  margin-left: 8px;
}
.success-alert .icon {
  width: 17px;
  height: 17px;
  color: hsl(var(--primary));
}
.success-alert .message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.success-alert .message-text,
.success-alert .sub-text {
  margin: 0;
  cursor: default;
}
.success-alert .message-text {
  color: hsl(var(--primary));
  font-size: 17px;
  font-weight: 700;
}
.success-alert .sub-text {
  font-size: 14px;
  color: hsl(var(--muted-foreground));
}
.success-alert .cross-icon {
  width: 18px;
  height: 18px;
  color: hsl(var(--muted-foreground));
  cursor: pointer;
}
